USE [QL_TPKS]
GO
/****** Object:  User [KETNOI]    Script Date: 4/21/2021 10:44:58 PM ******/
CREATE USER [KETNOI] FOR LOGIN [KETNOI] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_5B40BD05010C4A61BCADFE40D7EFBCE3]    Script Date: 4/21/2021 10:44:58 PM ******/
CREATE ROLE [MSmerge_5B40BD05010C4A61BCADFE40D7EFBCE3]
GO
/****** Object:  DatabaseRole [MSmerge_94D2E28272CD4CAB8BB26FF830288D00]    Script Date: 4/21/2021 10:44:58 PM ******/
CREATE ROLE [MSmerge_94D2E28272CD4CAB8BB26FF830288D00]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 4/21/2021 10:44:58 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [db_owner] ADD MEMBER [KETNOI]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_5B40BD05010C4A61BCADFE40D7EFBCE3]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_94D2E28272CD4CAB8BB26FF830288D00]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 4/21/2021 10:44:58 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraDangNhap]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemTraDangNhap](@manv char(10),@mk char(20),@macn char(10))
AS
	BEGIN
	--kiểm tra mã nhân viên ở Server hiện tại
		IF EXISTS (SELECT 1 FROM DBO.NHANVIEN WHERE DBO.NHANVIEN.MANV = @manv and DBO.NHANVIEN.MK=@mk and DBO.NHANVIEN.MACHINHANH=@macn)
		BEGIN
		RETURN 1;-- mã nhân viên tồn tại
		END
	--kiểm tra mã nhân viên ở Phân mảnh còn lại
		IF EXISTS (SELECT 1 FROM LINK.QL_TPKS.DBO.NHANVIEN NV WHERE NV.MANV = @manv and NV.MK=@mk and NV.MACHINHANH=@macn)
		BEGIN	
			RETURN 1;-- mã nhân viên tồn tại
			END
			RETURN 0;--mã nhân viên chưa tồn tại
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaNhanVienTonTai]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemTraMaNhanVienTonTai](@manv char(10))
AS
	BEGIN
	--kiểm tra mã nhân viên ở Server hiện tại
		IF EXISTS (SELECT 1 FROM DBO.NHANVIEN WHERE DBO.NHANVIEN.MANV = @manv)
		BEGIN
		RETURN 1;-- mã nhân viên tồn tại
		END
	--kiểm tra mã nhân viên ở Phân mảnh còn lại
		IF EXISTS (SELECT 1 FROM LINK.QL_TPKS.DBO.NHANVIEN NV WHERE NV.MANV =@manv)
		BEGIN	
			RETURN 1;-- mã nhân viên tồn tại
			END
			RETURN 0;--mã nhân viên chưa tồn tại
	END

GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACHINHANH] [char](10) NOT NULL,
	[TENCHINHANH] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B06D95CD4E444524B1BA70F9CB47138A]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[GIADV] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_3EDB95FDA5764647A89D6D06004CB3DB]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [char](10) NOT NULL,
	[SOPT] [char](10) NULL,
	[NGAYTT] [date] NULL,
	[SOTIEN] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_46860239AF2047B0B637D4A33410D2AF]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONDV]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONDV](
	[MAHDDV] [char](10) NOT NULL,
	[SOPT] [char](10) NULL,
	[SOTIENDV] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_2F787695D975459AB66FC6E891F7BCD6]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDTKH] [char](13) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CMND] [char](10) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_0317FA22A0584307B413481E1643FF8D]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [char](10) NOT NULL,
	[GIAPHONG] [int] NULL,
	[MACHINHANH] [char](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_952D9B263BC94FB884607122F8F07E8A]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](13) NULL,
	[TK] [char](20) NULL,
	[MK] [char](20) NULL,
	[MACHINHANH] [char](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D995316B204149F191501FB8B64CA65F]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[SOPT] [char](10) NOT NULL,
	[MAKH] [char](10) NULL,
	[NGAYTHUE] [date] NULL,
	[TIENCOC] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B480D8B1D6A74F51B2E22C65B60ABE42]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[SOPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [char](10) NOT NULL,
	[MALOAIPHONG] [char](10) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[SDTPHONG] [char](13) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_CD6DE9FFF6DF44CBA8CD68CA4BCC6170]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGTB]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGTB](
	[MATB] [char](10) NOT NULL,
	[MAPHONG] [char](10) NOT NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B7EC5368F0374F478BA0B9E9593E71E7]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PHONGTB] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGTHUE]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGTHUE](
	[SOPT] [char](10) NOT NULL,
	[MAPHONG] [char](10) NOT NULL,
	[NGAYDEN] [date] NULL,
	[NGAYDI] [date] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D92BBD108C44455AA456F8807A028A48]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PHONGTHUE] PRIMARY KEY CLUSTERED 
(
	[SOPT] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUDUNGDV]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUDUNGDV](
	[MAHDDV] [char](10) NOT NULL,
	[MADV] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_7E8305CDB01541BA903E65FD4F2A2977]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SUDUNGDV] PRIMARY KEY CLUSTERED 
(
	[MAHDDV] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 4/21/2021 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [char](10) NOT NULL,
	[TENTHIETBI] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_3D48203EC1C24C929D38A1D8FA4FE55A]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHINHANH] ([MACHINHANH], [TENCHINHANH], [rowguid]) VALUES (N'CN01      ', N'HÀ NỘI', N'8183c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[CHINHANH] ([MACHINHANH], [TENCHINHANH], [rowguid]) VALUES (N'CN02      ', N'SÀI GÒN', N'8283c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[CHINHANH] ([MACHINHANH], [TENCHINHANH], [rowguid]) VALUES (N'CN03      ', N'SERVER', N'1ff2a252-73a2-eb11-a25e-b46bfcf0798a')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV], [rowguid]) VALUES (N'DV01      ', N'Tắm nóng', 60000, N'8383c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV], [rowguid]) VALUES (N'DV02      ', N'Giặt đồ', 50000, N'8483c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV], [rowguid]) VALUES (N'DV03      ', N'Vệ sinh phòng', 40000, N'8583c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[HOADON] ([SOHD], [SOPT], [NGAYTT], [SOTIEN], [rowguid]) VALUES (N'HD01      ', N'PT01      ', CAST(N'2021-03-30' AS Date), 8080000, N'9b83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[HOADON] ([SOHD], [SOPT], [NGAYTT], [SOTIEN], [rowguid]) VALUES (N'HD02      ', N'PT02      ', CAST(N'2021-02-16' AS Date), 1200000, N'9c83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[HOADONDV] ([MAHDDV], [SOPT], [SOTIENDV], [rowguid]) VALUES (N'HDDV1     ', N'PT01      ', 800000, N'9d83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[HOADONDV] ([MAHDDV], [SOPT], [SOTIENDV], [rowguid]) VALUES (N'HDDV2     ', N'PT02      ', 500000, N'9e83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDTKH], [DIACHI], [CMND], [QUOCTICH], [rowguid]) VALUES (N'KH01      ', N'Trần Thái Chân', N'0815702622   ', N'Tân Phú', N'321724774 ', N'VN', N'8683c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDTKH], [DIACHI], [CMND], [QUOCTICH], [rowguid]) VALUES (N'KH02      ', N'Nguyễn Hòa Trung Hiếu', N'082329254    ', N'Tân Bình', N'321756895 ', N'VN', N'8783c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDTKH], [DIACHI], [CMND], [QUOCTICH], [rowguid]) VALUES (N'KH03      ', N'Nguyễn Thanh Quang', N'0854862562   ', N'Gò Vấp', N'321584625 ', N'VN', N'8883c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [GIAPHONG], [MACHINHANH], [rowguid]) VALUES (N'L11       ', 90000, N'CN01      ', N'8d83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [GIAPHONG], [MACHINHANH], [rowguid]) VALUES (N'L12       ', 80000, N'CN01      ', N'8e83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [GIAPHONG], [MACHINHANH], [rowguid]) VALUES (N'L13       ', 80000, N'CN01      ', N'8f83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [TK], [MK], [MACHINHANH], [rowguid]) VALUES (N'ADMIN     ', N'Trần Thái Chân', N'Tân Phú', N'0815702622   ', N'chan                ', N'123                 ', N'CN03      ', N'1b8eb16b-74a2-eb11-a25e-b46bfcf0798a')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [TK], [MK], [MACHINHANH], [rowguid]) VALUES (N'NV01      ', N'Trần Thái Chân', N'Tân Phú', N'0815702622   ', N'chan                ', N'123                 ', N'CN01      ', N'9383c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [TK], [MK], [MACHINHANH], [rowguid]) VALUES (N'NV02      ', N'Phan Tố Quyên', N'Tân Bình', N'0855665415   ', N'quyen               ', N'124                 ', N'CN02      ', N'9483c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHIEUTHUE] ([SOPT], [MAKH], [NGAYTHUE], [TIENCOC], [rowguid]) VALUES (N'PT01      ', N'KH01      ', CAST(N'2021-03-28' AS Date), 60000, N'9783c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHIEUTHUE] ([SOPT], [MAKH], [NGAYTHUE], [TIENCOC], [rowguid]) VALUES (N'PT02      ', N'KH02      ', CAST(N'2021-02-14' AS Date), 50000, N'9883c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHIEUTHUE] ([SOPT], [MAKH], [NGAYTHUE], [TIENCOC], [rowguid]) VALUES (N'PT03      ', N'KH01      ', CAST(N'2021-01-25' AS Date), 60000, N'9983c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAIPHONG], [TINHTRANG], [SDTPHONG], [rowguid]) VALUES (N'HNP01     ', N'L11       ', N'Tốt', N'1            ', N'9f83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAIPHONG], [TINHTRANG], [SDTPHONG], [rowguid]) VALUES (N'HNP02     ', N'L13       ', N'Tốt', N'1            ', N'a083c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAIPHONG], [TINHTRANG], [SDTPHONG], [rowguid]) VALUES (N'HNP03     ', N'L11       ', N'Kém', N'2            ', N'a183c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHONGTB] ([MATB], [MAPHONG], [TINHTRANG], [GHICHU], [rowguid]) VALUES (N'TB01      ', N'HNP01     ', N'Samsung', N'98', N'a483c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHONGTB] ([MATB], [MAPHONG], [TINHTRANG], [GHICHU], [rowguid]) VALUES (N'TB02      ', N'HNP02     ', N'Hàn Quốc', N'87', N'a583c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHONGTB] ([MATB], [MAPHONG], [TINHTRANG], [GHICHU], [rowguid]) VALUES (N'TB03      ', N'SGP02     ', N'Nhật bản', N'30', N'a683c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHONGTHUE] ([SOPT], [MAPHONG], [NGAYDEN], [NGAYDI], [rowguid]) VALUES (N'PT01      ', N'HNP01     ', CAST(N'2021-04-21' AS Date), CAST(N'2021-04-21' AS Date), N'a983c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[PHONGTHUE] ([SOPT], [MAPHONG], [NGAYDEN], [NGAYDI], [rowguid]) VALUES (N'PT01      ', N'HNP03     ', CAST(N'2021-04-21' AS Date), CAST(N'2021-04-22' AS Date), N'cb519027-ada2-eb11-a25e-b46bfcf0798a')
INSERT [dbo].[PHONGTHUE] ([SOPT], [MAPHONG], [NGAYDEN], [NGAYDI], [rowguid]) VALUES (N'PT01      ', N'SGP02     ', CAST(N'2021-04-16' AS Date), CAST(N'2021-04-21' AS Date), N'9bc8a749-ada2-eb11-a25e-b46bfcf0798a')
INSERT [dbo].[SUDUNGDV] ([MAHDDV], [MADV], [SOLUONG], [rowguid]) VALUES (N'HDDV1     ', N'DV01      ', 8, N'a783c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[SUDUNGDV] ([MAHDDV], [MADV], [SOLUONG], [rowguid]) VALUES (N'HDDV2     ', N'DV02      ', 5, N'a883c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[THIETBI] ([MATB], [TENTHIETBI], [MOTA], [SOLUONG], [rowguid]) VALUES (N'TB01      ', N'Tivi', N'Samsung', 98, N'8a83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[THIETBI] ([MATB], [TENTHIETBI], [MOTA], [SOLUONG], [rowguid]) VALUES (N'TB02      ', N'Chăn ga', N'Hàn Quốc', 87, N'8b83c020-c19d-eb11-a25b-b46bfcf0798a')
INSERT [dbo].[THIETBI] ([MATB], [TENTHIETBI], [MOTA], [SOLUONG], [rowguid]) VALUES (N'TB03      ', N'Bàn là', N'Nh?t b?n', 35, N'8c83c020-c19d-eb11-a25b-b46bfcf0798a')
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHINHANH]    Script Date: 4/21/2021 10:44:58 PM ******/
ALTER TABLE [dbo].[CHINHANH] ADD  CONSTRAINT [PK_CHINHANH] PRIMARY KEY NONCLUSTERED 
(
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DICHVU]    Script Date: 4/21/2021 10:44:58 PM ******/
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [PK_DICHVU] PRIMARY KEY NONCLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADON]    Script Date: 4/21/2021 10:44:58 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADONDV]    Script Date: 4/21/2021 10:44:58 PM ******/
ALTER TABLE [dbo].[HOADONDV] ADD  CONSTRAINT [PK_HOADONDV] PRIMARY KEY NONCLUSTERED 
(
	[MAHDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 4/21/2021 10:44:58 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LOAIPHONG]    Script Date: 4/21/2021 10:44:58 PM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_HD_PHIEU_PHIEUTHU] FOREIGN KEY([SOPT])
REFERENCES [dbo].[PHIEUTHUE] ([SOPT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_HD_PHIEU_PHIEUTHU]
GO
ALTER TABLE [dbo].[HOADONDV]  WITH CHECK ADD  CONSTRAINT [FK_HOADONDV_HDDV_PHIE_PHIEUTHU] FOREIGN KEY([SOPT])
REFERENCES [dbo].[PHIEUTHUE] ([SOPT])
GO
ALTER TABLE [dbo].[HOADONDV] CHECK CONSTRAINT [FK_HOADONDV_HDDV_PHIE_PHIEUTHU]
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [FK_LOAIPHON_LP_CN_CHINHANH] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
GO
ALTER TABLE [dbo].[LOAIPHONG] CHECK CONSTRAINT [FK_LOAIPHON_LP_CN_CHINHANH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_REFERENCE_CHINHANH] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_REFERENCE_CHINHANH]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_PHIEU_KH_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHU_PHIEU_KH_KHACHHAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_P_LP_LOAIPHON] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_P_LP_LOAIPHON]
GO
ALTER TABLE [dbo].[PHONGTB]  WITH CHECK ADD  CONSTRAINT [FK_PHONGTB_PTB_P_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHONGTB] CHECK CONSTRAINT [FK_PHONGTB_PTB_P_PHONG]
GO
ALTER TABLE [dbo].[PHONGTB]  WITH CHECK ADD  CONSTRAINT [FK_PHONGTB_PTB_TB_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[PHONGTB] CHECK CONSTRAINT [FK_PHONGTB_PTB_TB_THIETBI]
GO
ALTER TABLE [dbo].[PHONGTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGTHU_PT_P_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHONGTHUE] CHECK CONSTRAINT [FK_PHONGTHU_PT_P_PHONG]
GO
ALTER TABLE [dbo].[PHONGTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGTHU_PT_PHIEU_PHIEUTHU] FOREIGN KEY([SOPT])
REFERENCES [dbo].[PHIEUTHUE] ([SOPT])
GO
ALTER TABLE [dbo].[PHONGTHUE] CHECK CONSTRAINT [FK_PHONGTHU_PT_PHIEU_PHIEUTHU]
GO
ALTER TABLE [dbo].[SUDUNGDV]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGDV_SDDV_DV_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[SUDUNGDV] CHECK CONSTRAINT [FK_SUDUNGDV_SDDV_DV_DICHVU]
GO
ALTER TABLE [dbo].[SUDUNGDV]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGDV_SDDV_HDDV_HOADONDV] FOREIGN KEY([MAHDDV])
REFERENCES [dbo].[HOADONDV] ([MAHDDV])
GO
ALTER TABLE [dbo].[SUDUNGDV] CHECK CONSTRAINT [FK_SUDUNGDV_SDDV_HDDV_HOADONDV]
GO
